@font-face {
    font-family: "Montserrat";
    src: url("/static/Montserrat-SemiBold.ttf");
}

body {
    background-image: url("/static/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
} 

form {
    width: 100%;
    max-width: 25rem;

    background-color: white;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    opacity: 0.75;

    padding: 5rem 3rem;

    transition: all 0.3s ease;
}

form button, form input {
    padding: 0.75rem 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.75rem;
    opacity: 1;
    font-family: "Montserrat";
}

form button {
    width: 100%;
    max-width: 6rem;
}

form button:hover, form input:hover, form input:focus {
    opacity: 0.5;
}

form input {
    width: 100%;
    max-width: 10rem;
}